body {
    margin: 0;
    background-color: white;
    overflow: hidden;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 70vh;
    width: 80%;
    resize: none;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.default-error-message {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

#id_title {
    width: 80%;
}

.default-submit {
    width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.default-submit:hover {
    background-color: #e5e5e5;
}